{% extends "manager/dashboard.html" %}
{% block title %}
   Change Password
{% endblock title %}


{% block subcontent %}
    
    {% if messages %}
        {% for i in messages  %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{i}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        
    {% endif %}
        
    <div class="d-flex p-2" style="justify-content: space-between;">   
        <h5>Change Your Password</h5> 
     
    </div>
    
    <form action="" method="post" style="width: 100%; padding: 30px;" enctype="multipart/form-data">
        
        <div class="row  formBox p-2" >
            <H6>Change Password</H6>
            <hr>
            <div class="col-12">
                <form action="" method="post">
                    {% for field in form  %}
                    <div class="col-md-12 border-bottom p-2">
                        {{ field }}
                        <!-- {{ field.help_text | safe }} -->
                        {% if field.errors %}
                        {{ field.errors }}
                        {% endif %}
                     </div>
                    {% endfor %}
                    {% csrf_token %}
                    <br>
                    <div class="p-2 d-grid">
                        <button class="btn btn-danger btn-block text-light mb-3" id="submit"> <i class="fa fa-key"></i> Change Password</button>
                    </div>
                   
    
                </form>  
            </div>
               
    
          
          
        </div>
      
    </form>
     
{% endblock subcontent %}
