{% extends 'homepage/index.html' %}
{% load static %}
{% block title %}
    Wake and Tech Service
{% endblock title %}


{% block content %}
    <div class="maintain" style="height: 40px;">

    </div>
    
    <!-- Services -->
    <div id="services" class="cards-1">
        <div class="container">
            <h4 class="text-center">Our Services</h4>
            <div class="row">
                <div class="col-lg-12">
                    
                    {% for i in service  %}
                    <!-- Card -->
                    <a href="{%url 'homepage:serviceDetails' i.id%}">
                        <div class="card me-4" style="height:auto;">
                            <div class="text-center">
                                <img src="{{i.image.url}}" alt="{{i.name}}" srcset="" style="height: 140px; width:140px;">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{i.name}}</h5>
                                <p>
                                    {{i.description|truncatewords:10|safe}}
                                </p>
                              
                            </div>
                        </div>
                    </a>
                  
                    <!-- end of card -->
                    {% endfor %}

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of services -->
{% endblock content %}
    