{% extends 'manager/dashboard.html' %}

{% block title %}
    Service
{% endblock title %}

{% block subcontent %}
    
    {% if messages %}
        {% for i in messages  %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{i}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        
    {% endif %}
        
    <div class="d-flex p-2" style="justify-content: space-between;">   
        <h5>Service</h5> 
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="fa fa-plus"></i>
            Add Service
        </button>
    </div>
    <!-- Add Category Model -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Add Service</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="formBox p-3">
                  <form action="" method="post">
                    {{form.media}}
                    {{form}}
                    
                    {% csrf_token %}
                    <button class="btn btn-primary w-100 mt-3" type="submit">
                        <i class="fa fa-save"></i> {{button}}
                    </button>
                  </form>
                    
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
    </div>
    <!-- End Add Category Model -->
    

    {% for i in blog %}  
        <div class="col-12 col-md-6 mt-3">   
            <div class="blogbox">
                <h5>{{i.name}}</h5>
        
                <hr>
                <div class="blogMenu">
                    <a href="{%url 'manager:updateService' i.id%}">
                        <i class="fa fa-edit p-2"></i>
                    </a>
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal{{i.id}}">
                        <i class="fa fa-trash p-2"></i>
                    </a>
                   
                    
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure want to Delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Be sure to delete "{{i.name}}"</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            <a href="{%url 'manager:deleteService' i.id%}">
                                <button type="button" class="btn btn-danger">Yes</button>
                            </a>
                            
                        </div>
                    </div>
                    </div>
                </div>
            </div>

        </div>  
    {% endfor %}

     
{% endblock subcontent %}
    
    